.vipplus { border-left:5px solid gold; }
.vip { border-left:5px solid orange; }
.mvp { border-left:5px solid purple; }
.god { border-left:5px solid green; }
.immortal { border-left:5px solid violet; }
.titan { border-left:5px solid cyan; }
.legendary { border-left:5px solid red; }
.legend { border-left:5px solid blue; }
.magnate { border-left:5px solid pink; }
.master { border-left:5px solid lime; }
.hero { border-left:5px solid gray; }
.ancestral { border-left:5px solid brown; }
